.list {
  list-style: none;
  text-align: center;
  padding: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
}

.bar {
  display: inline;
  padding: 20px;
}

.homes {
  color: #fcbe32;
  position: relative;
  top: 4px;
  left: 16px;
  font-size: 20px;
}

.home {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  font-weight: 600;
}
.home:active {
  color: #fcbe32;
}

.Custom {
  position: relative;
  color: #fcbe32;
  font-size: 20px;
  right: 4px;
  top: 3px;
}

.Designer {
  position: relative;
  color: #fcbe32;
  font-size: 20px;
  right: 3px;
  top: 5.3px;
}

.info {
  position: relative;
  color: #fcbe32;
  top: 5px;
  right: 3px;
  font-size: 20px;
}

.contact {
  position: relative;
  color: #fcbe32;
  font-size: 20px;
  top: 4px;
  right: 4px;
}

@media only screen and (max-width: 600px) {
  .list {
    padding: 5px;
  }

  .bar {
    padding: 10px;
    display: block;
  }

  .homes {
    left: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .Custom,
  .Designer,
  .info,
  .contact {
    display: none;
  }

  .home {
    font-size: 16px;
  }
}
