.AllDatas {
  padding-top: 80px;
  text-align: center;
  overflow: hidden;
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
    center/cover no-repeat fixed;
}

.Custom {
  font-weight: 400;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.latest {
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.head {
  list-style: none;
}

.one {
  display: inline-block;
  padding: 40px;
  margin: 20px;
  cursor: pointer;
  perspective: 1000px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.one:hover .card {
  transform: rotateY(180deg);
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* .buy {
  position: relative;
  top: 15px;
} */

/* CSS */
.buy {
  position: relative;
  top: 15px;
  cursor: pointer;
  font-weight: 600;
  font-family: math;
  --b: 3px;
  --s: 0.45em;
  --color: black;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  touch-action: manipulation;
}

.buy:hover,
.buy:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.buy:active {
  background: var(--color);
  color: #fff;
}

.back {
  backface-visibility: hidden;
  position: absolute;
  top: -14px;
  transform: rotateY(180deg);
  font-size: 0.8rem;
  text-align: -webkit-auto;
  font-weight: 700;
}

.front {
  backface-visibility: hidden;
  transform: rotateY(0deg);
}

.imgs {
  height: 200px;
}

.one:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 2%;
}

.one {
  overflow: hidden;
  border-radius: 2% 2% 0 0;
  transition: all 1s ease;
}

.listone {
  font-weight: 300;
  padding-bottom: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.listTwo {
  font-weight: 700;
  font-size: 14px;
  word-wrap: break-word;
}

.price {
  position: relative;
  bottom: 5px;
  color: green;
}
