.AllDatas {
  padding-top: 80px;
  text-align: center;
  overflow: hidden;
  background-color: antiquewhite;
}

.Custom {
  font-weight: 400;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.latest {
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.head {
  list-style: none;
}

.one {
  display: inline-block;
  padding: 40px;
  margin: 20px;
  cursor: pointer;
  backdrop-filter: blur(15px);
  perspective: 1000px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2% 2% 2% 2%;
  overflow: hidden;
  border-radius: 2% 2% 0 0;
  transition: all 1s ease;
}

.one:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 2%;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.imgs {
  height: 200px;
}

.img {
  width: 200px;
  height: 200px;
}

.listone {
  font-weight: 300;
  padding-bottom: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
